absl-py==2.3.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.9.0
asgiref==3.9.1
asttokens==3.0.0
astunparse==1.6.3 
async-timeout==5.0.1
attrs==25.3.0
Authlib==1.6.0
avro==1.12.0
bidict==0.23.1
blinker==1.9.0
bluesky-gym==0.2.0
bluesky-navdata==1.0.0
bluesky-simulator==1.0.7
boto3==1.40.27
botocore==1.40.27
cachetools==6.1.0
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
cloudpickle==3.1.1
colorama==0.4.6
comm==0.2.3
confluent-kafka==2.9.0
contourpy==1.3.2
cryptography==45.0.5
cycler==0.12.1
debugpy==1.8.16
decorator==5.2.1
dill==0.4.0
Django==5.2.6
docker==7.1.0
ev2gym==1.1.0
exceptiongroup==1.3.0
executing==2.2.0
Faker==37.5.3
Farama-Notifications==0.0.4
fastapi==0.116.1
fastavro==1.11.1
filelock==3.18.0
flappy-bird-gymnasium==0.4.0
Flask==3.1.2
Flask-SocketIO==5.5.1
flatbuffers==25.2.10
fonttools==4.59.0
fsspec==2025.7.0
gast==0.6.0
google-pasta==0.2.0
googleapis-common-protos==1.70.0
graphene==3.4.3
graphql-core==3.2.6
graphql-relay==3.2.0
grpcio==1.74.0
gurobipy==12.0.3
gym==0.26.2
gym-notices==0.0.8
gymnasium==1.1.1
h11==0.16.0
h5py==3.14.0
halo==0.0.31
httpcore==1.0.9
httpx==0.28.1
idna==3.10
importlib==1.0.4
importlib-metadata==6.11.0
ipykernel==6.30.1
ipython==8.37.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.5.2
jsonlines==4.0.0
jsonpath-ng==1.7.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core==5.8.1
kafka-python==2.2.15
keras==3.11.3
kiwisolver==1.4.8
libclang==18.1.1
log-symbols==0.0.14
Markdown==3.8.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.3
matplotlib-inline==0.1.7
mdurl==0.1.2
ml_dtypes==0.5.3
mock==4.0.3
mpmath==1.3.0
msgpack==1.1.1
multiprocess==0.70.18
namex==0.1.0
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.9.1
numpy==1.26.4
omegaconf==2.3.0
opt_einsum==3.4.0
optree==0.17.0
orjson==3.11.0
packaging==24.2
pandas==2.3.1
parquet==1.3.1
parquet_tools==0.2.16
parso==0.8.5
pathos==0.3.4
pillow==11.3.0
platformdirs==4.4.0
ply==3.11
pox==0.3.6
ppft==1.7.7
prompt_toolkit==3.0.52
protobuf==6.31.1
psutil==7.0.0
pure_eval==0.2.3
py4j==0.10.9.5
pyarrow==21.0.0
pybind11==3.0.1
pycparser==2.22
pydantic==2.11.7
pydantic-settings==2.9.1
pydantic_core==2.33.2
pygame==2.6.1
Pygments==2.19.2
pyparsing==3.2.3
pyrsistent==0.20.0
pyspark==3.2.4
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-engineio==4.12.2
python-socketio==5.13.0
pytz==2025.2
pywin32==311
PyYAML==6.0.2
pyzmq==27.0.0
quixstreams==3.22.0
redis==6.4.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.4
rich==14.0.0
rocksdict==0.3.27
rpds-py==0.26.0
s3transfer==0.14.0
sagemaker==2.251.1
sagemaker-core==1.0.59
sb3_contrib==2.6.0
schema==0.7.7
scipy==1.15.3
sequential==1.0.0
simple-websocket==1.1.0
six==1.17.0
smdebug-rulesconfig==1.0.1
sniffio==1.3.1
spinners==0.0.24
spotipy==2.25.1
sqlparse==0.5.3
stable_baselines3==2.6.0
stack-data==0.6.3
starlette==0.47.3
sympy==1.14.0
tabulate==0.9.0
tblib==3.1.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.1.0
textblob==0.19.0
thrift==0.16.0
thriftpy2==0.5.3
tiktoken==0.9.0
torch==2.7.1
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
uvicorn==0.35.0
wcwidth==0.2.13
websockets==15.0.1
Werkzeug==3.1.3
wrapt==1.17.3
wsproto==1.2.0
zipp==3.23.0
zmq==0.0.0
